@import "tailwindcss";

/* Konfigurasi Tema Tailwind v4 kamu */
@theme {
  --color-kas-dark: #662222;
  --color-kas-primary: #842A3B;
  --color-kas-soft: #A3485A;
  --color-kas-accent: #F5DAA7;
  --color-kas-bg: #FFFDF9;
  
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}